*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.margin 
{
    margin-left: 20px;
    margin-top: 20px;
}
.margin-ul 
{
    margin-left: 40px;
}

#logo
{
    background-image: url("../img/pattern.png");
    background-color: rgba(78, 160, 255, 1);
}

#logo img {
margin-top: 70px;
width: 300px;
height: 100px;
}

h1
{
    font-size: 50px;
}
h2,h4{

    color: rgb(133,133,133);
}
h2>span
{
    color: rgb(32,169,229);
}

figure>img{
    width: 47%;
    height: 50%;
}

figcaption
{
    font-size: 12px;
}
.margin>span
{
    background-color: #ffff00;
}

.th1 .th2{
    width: 20%;  
}
.th3
{
    width: 60%;
}
.tr-intestation
{
    background-color:#20a9e5;
    color: white;
    
   
}
.tr-bg
{
    background-color:#b1e5f2;
}

table{
    text-align: left;
    border-collapse: collapse;
}

.interester-1
{
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height:208px; 
}
.interester-2
{
    background-image: url(../img/graph.jpg);
    width: 311px;
    height:207px;
}
.interester
{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}
.interester > span
{
   margin-left: 20px;
}

